<md-card ng-style="{'background-color': card.background, 'color' : card.color}">

  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <md-icon class="icon" ng-style="{'color' : card.color}" md-font-set="md" ng-show="card.icon">{{card.icon}}</md-icon>
        {{card.title}}
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>{{card.description}}</p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <span>{{card.reservedBy}}</span>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="card.favorite({fav : card.title})">
      <md-icon md-font-set="md" ng-style="{'color' : card.color}">favorite</md-icon>
    </md-button>
  </md-card-actions>
</md-card>

