<div class="container">
  <div class="row" ng-if="userlistCtrl.user">
    <div class="form-group col-sm-3">
      <label for="firstNameInput">First Name</label>
      <input type="text" class="form-control" id="firstNameInput" ng-model="userlistCtrl.user.firstName">
    </div>
    <div class="form-group col-sm-3">
      <label for="lastNameInput">Last Name</label>
      <input type="text" class="form-control" id="lastNameInput" ng-model="userlistCtrl.user.lastName">
    </div>
    <div class="form-group col-sm-3">
      <label for="ageInput">Age</label>
      <input type="number" min="0" class="form-control" id="ageInput" ng-model="userlistCtrl.user.age">
    </div>
    <div class="form-group col-sm-3">
      <label for="phoneInput">Phone</label>
      <input type="tel" class="form-control" id="phoneInput" ng-model="userlistCtrl.user.phone">
    </div>
  </div>
  <div class="row">
    <user-card class="col-sm-6 col-md-4" ng-repeat="user in userlistCtrl.users" user="user"
               on-user-selected="userlistCtrl.selectedUser(user)"
               on-user-left="userlistCtrl.blurUser(user)"></user-card>
  </div>
</div>